* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto';
  background-color: #E5E5E5; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

h2 {
  color: #242367;
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center; }

h3 {
  color: #8BAAFC;
  font-family: New York Extra Large;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center; }

img {
  max-width: 100%; }

.buttonUneteALaClase {
  background-color: transparent;
  color: #FAFAFA;
  border: 4px solid #FAFAFA;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
  width: 20.4rem;
  height: 6.3rem;
  font-size: 2rem;
  line-height: 2.3rem; }

.espiralCentrado {
  display: block;
  margin: auto; }

.p-style {
  color: #4D4D4D;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 300; }

.span-style {
  font-weight: 500;
  color: #3534BE; }

.divFinSections {
  height: 16.805rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.botonAzul {
  border: none;
  color: #3534BE;
  font-size: 2rem;
  background-color: transparent; }

.acordionFondoTransparente {
  background-color: transparent !important; }

.acordionParrafo {
  margin-bottom: 0;
  font-size: 1.8rem; }

header {
  background-color: #FAFAFA;
  width: 100%; }

.headerInicio {
  background-color: lightblue;
  height: auto; }

.navbarInicio {
  padding-top: 3.6rem;
  padding-bottom: 1rem;
  padding: 3.6rem 2rem 1rem 2rem; }
  @media (max-width: 768px) {
    .navbarInicio {
      padding: 3.6rem 0 1rem 0; } }
  .navbarInicioLista {
    gap: 3rem; }

.liServicios {
  margin-right: 18vw; }
  @media (max-width: 768px) {
    .liServicios {
      margin-right: 0; } }

.navbar-light .navbar-nav .nav-link {
  color: #242367; }

.nav-link {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem; }

.nav-link-dropdown {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #242367;
  font-family: Roboto; }

.button {
  border: none; }

.dropdown-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 51.3rem;
  height: 23.3rem; }

.tituloDropdown {
  margin-top: 1.705rem;
  margin-bottom: 1.452rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #242367; }

.dropdown-item {
  font-weight: normal;
  color: #242367;
  margin-bottom: 2.8rem;
  font-size: 1.8rem;
  line-height: 2.1rem; }

.dropdown-divider {
  background-color: rgba(53, 52, 190, 0.3); }

.navbar-toggler {
  border: none;
  padding-right: 2.3rem; }
  .navbar-toggler .navbar-toggler-icon {
    width: 4rem;
    height: 4rem; }

.navbar-light .navbar-toggler-icon {
  background-image: url(../assets/inicio/iconoir_menu.png); }

.imgPrincipalInicio {
  display: block;
  margin: 0 auto;
  padding: 0 2rem 3rem 2rem; }

.pPSD {
  color: #3534BE;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.05em; }

.pClickAqui {
  color: #3534BE;
  font-size: 2.3rem;
  line-height: 2.7rem;
  text-align: center;
  padding-bottom: 5.3rem; }
  @media (max-width: 768px) {
    .pClickAqui {
      margin-top: 5rem; } }
  .pClickAqui a {
    color: #3534BE; }

.sectionBeneficios-Inicio {
  position: relative;
  margin-top: 10rem; }

.elementoGraficoEsquina {
  position: absolute;
  width: 46.853rem;
  height: 51.902rem;
  transform: rotate(128.39deg); }

.elementoGrafico-arribaDerecha {
  right: -13rem;
  top: -35rem;
  z-index: -1; }

.h2Beneficios {
  margin-bottom: 2rem; }

.contenedorBeneficios-Inicio {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 47% 53%;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 768px) {
    .contenedorBeneficios-Inicio {
      display: flex;
      justify-content: center; } }

.liBeneficios {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 6rem 1rem 6rem; }

.iconBeneficios {
  width: 6rem;
  height: 6rem; }

.pBeneficios {
  color: #4D4D4D;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0 0 0 2rem; }

.imagenesBeneficios-Inicio {
  display: flex;
  gap: 5rem;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .imagenesBeneficios-Inicio {
      display: none; } }

.sectionServiciosActuales-Inicio {
  margin-top: 10rem; }

.h2Servicios {
  margin-bottom: 2rem; }

.contenedorServicios-Inicio {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 53% 47%;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 768px) {
    .contenedorServicios-Inicio {
      display: flex;
      flex-direction: column; } }

.imagenesServicios-Inicio {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  margin-bottom: 0; }
  @media (max-width: 768px) {
    .imagenesServicios-Inicio {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 1rem;
      align-items: stretch;
      margin-bottom: 4rem; } }

.detallesServicios-Inicio {
  display: flex;
  flex-direction: column;
  padding: 0 6rem; }

.pServicios {
  color: #4D4D4D;
  font-weight: 300;
  font-size: 1.8rem; }

.contenedorBotonServicios {
  margin-top: 2rem; }

.sectionNuestroEspacioInicio {
  margin-top: 10rem; }

.elementoBeneficiosInicio {
  display: block;
  margin: 0 auto; }

.h2NuestroEspacio {
  margin: 1.5rem 0 2rem 0; }

.sectionPreguntasFrecuentesInicio {
  margin-top: 10rem;
  position: relative; }

.h2NuestroEspacio {
  margin-bottom: 2rem; }

.contenedorPreguntasFrecuentes {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center; }
  @media (max-width: 768px) {
    .contenedorPreguntasFrecuentes {
      display: flex;
      justify-content: center; } }

.contenedorImagenPreguntas {
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 768px) {
    .contenedorImagenPreguntas {
      display: none; } }

.imagenPreguntasFrecuentes {
  margin-right: 6rem; }

.contenedorDetallesPreguntas {
  padding: 0 6rem; }

.contenedorBotonPreguntas {
  margin-top: 3rem; }

.img14 {
  width: 64rem;
  height: 47.433rem; }

.sectionContacto {
  display: flex;
  flex-direction: row; }

.divsectionContacto {
  background: #FFFFFF;
  border: 2px solid #111111;
  width: 100%;
  height: 47.433rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.h4sectionContacto {
  font-family: New York Extra Large;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #8BAAFC;
  margin-top: 7.208rem;
  margin-bottom: 5.42rem; }

.psectionContacto {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #4D4D4D;
  margin-bottom: 3.889rem; }

.iconsectionContacto {
  width: 6.22rem;
  height: 6.22rem;
  margin-top: 1.531rem;
  margin-bottom: 6.089rem; }

#sectionPrincipal-SobreMi {
  background-image: linear-gradient(rgba(53, 52, 190, 0.35), rgba(53, 52, 190, 0.35)), url(../assets/Sobre_mi/Imagen_sobre_mi_principal.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 70rem;
  margin-bottom: 7.991rem; }

.h1sectionPrincipal {
  font-size: 5rem;
  line-height: 5.9rem;
  text-align: center;
  color: #FAFAFA;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5); }

#h1sectionPrincipal-SobreMi {
  margin-bottom: 5.408rem; }

#h2sectionPresentacion-SobreMi {
  margin-top: 2.1rem;
  margin-bottom: 7.991rem; }

#divsectionPresentacion-SobreMi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; }

#psectionPresentacion-SobreMi {
  position: static;
  width: 38.655rem;
  height: 29.4rem;
  left: 54.046rem;
  margin: 0rem 6.5rem; }

#h2sectionTrayectoria-SobreMi {
  margin-top: 17.606rem;
  margin-bottom: 2.05rem; }

.sectionPrincipal-Servicios {
  background-image: linear-gradient(rgba(53, 52, 190, 0.35), rgba(53, 52, 190, 0.35)), url(../assets/servicios/pexels-karolina-grabowska-4498610.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 70rem;
  margin-bottom: 7.991rem; }

.h2sectionPresentacion-Servicios {
  margin-top: 2.05rem;
  margin-bottom: 9.456rem; }

.divIcons-sectionPresentacion-Servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 34.1rem; }

.div-div-sectionPresentacion-Servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.icon-sectionPresentacion-Servicios {
  width: 7.961rem;
  height: 7.961rem; }

.pIcon-sectionPresentacion-Servicios {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #3534BE;
  margin-top: 1.844rem; }

.divP-sectionPresentacion-Servicios {
  display: flex;
  flex-direction: row;
  margin: 7.356rem 18.81rem 14.866rem 18.81rem; }

.p-sectionPresentacion-Servicios {
  margin-right: 9.9rem; }

.h3-sectionGaleria-Servicios {
  margin-top: 2.05rem;
  margin-bottom: 11.977rem; }

#sectionPrincipal-Blog {
  background-image: linear-gradient(rgba(53, 52, 190, 0.35), rgba(53, 52, 190, 0.35)), url(../assets/blog/pexels-elina-fairytale-3823117.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.991rem; }

#h1-sectionPrincipal-Blog {
  margin-top: 20.488rem; }

#h2-sectionPrincipal-Blog {
  font-size: 3rem;
  line-height: 3.5rem;
  color: #FAFAFA;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 2.386rem;
  margin-bottom: 4.065rem; }

#boton-sectionPrincipal-Blog {
  margin-bottom: 11.623rem; }

#h2-sectionArticulos-Blog {
  margin-top: 2.05rem;
  margin-bottom: 7.751rem; }

.img-sectionPrincipal-Articulo {
  width: 128.526rem;
  height: 48.918rem;
  margin-bottom: 6.133rem; }

.h2-sectionArticulo-Articulo {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #242367;
  margin-bottom: 2.727rem;
  text-align: left; }

.h4-sectionArticulo-Articulo {
  font-size: 2.3rem;
  line-height: 2.7rem;
  color: #4D4D4D;
  margin-bottom: 10.092rem;
  text-align: left; }

.sectionArticulo-Articulo {
  margin: 0rem 18.2rem 11.492rem 18.2rem; }

.List-sectionArticulo-Articulo {
  list-style-type: disc; }

.p-sectionArticulo-Articulo {
  margin-bottom: 2rem; }

.h2-sectionOtrosArticulos-Articulo {
  margin-top: 2.05rem;
  margin-bottom: 10.875rem; }

.div-sectionOtrosArticulos-Articulo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.card-img-top {
  height: 23.927rem;
  width: 35.899rem;
  margin-bottom: 3.112rem; }

.card {
  width: 35.899rem;
  margin-bottom: 27.261rem;
  background-color: #E5E5E5;
  border: none; }

.p-sectionOtrosArticulos-Articulo {
  margin-bottom: 4rem; }

#sectionPrincipal-PreguntasFrecuentes {
  background-image: linear-gradient(rgba(53, 52, 190, 0.35), rgba(53, 52, 190, 0.35)), url(../assets/Preg_frecuentes/pexels-elina-fairytale-3823154.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 70rem;
  margin-bottom: 7.991rem; }

#h2-sectionPreguntas-PreguntasFrecuentes {
  margin-top: 2.05rem;
  margin-bottom: 14.252rem; }

#accordionFlushExample2 {
  width: 91.821rem;
  margin: 0rem 17.981rem 23.426rem 18.198rem;
  margin-bottom: 23.426rem; }

.button-sectionPreguntas-PreguntasFrecuentes {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #4D4D4D;
  padding: 1.7rem 0rem;
  padding-left: 1rem;
  background-color: #E5E5E5;
  border-bottom: 1px solid rgba(77, 77, 77, 0.2); }

#button1-sectionPreguntas-PreguntasFrecuentes {
  border-top: 1px solid rgba(77, 77, 77, 0.2); }

.accordion-button::after {
  width: 2.4rem;
  height: 2.4rem;
  left: 89.421rem;
  top: 1.529rem; }

.accordion-body {
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #4D4D4D;
  background-color: #E5E5E5; }

footer {
  background-color: #3534BE;
  height: 26.634rem; }

.logoFooter {
  width: 12.044rem;
  height: 4.197rem; }

.colorLetrasFooter {
  color: #FAFAFA; }

.liFooter {
  list-style-type: none; }
  .liFooter a {
    font-weight: 500;
    /*font-size: 1.6rem;
        line-height: 1.9rem;*/ }

#footerPrimeraParte {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

/*
.div_pFooter {
    width: 11.757rem;
    height: 6.4rem;
    margin-left: 1.931rem;
}

#pFooter {
    font-size: 1.4rem;
    line-height: 1.6rem;
}*/
#divRedesSociales {
  /*margin: 4.405rem 2.084rem 0 0;*/
  text-align: center;
  /*
    li {
        margin-bottom: 1.5rem;

        a {

            img {
                margin-right: 0.541rem;
            }
        }
    }*/ }

/*
.redesSocialesFooter {
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.sizeIconInstagram {
    width: 2rem;
    height: 2.1rem;
}

.sizeIconWhatsapp {
    width: 2.6rem;
    height: 2.6rem;
}

.sizeIconMail {
    width: 2rem;
    height: 2rem;
}*/
#copyright {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  /*width: 23.528rem;
    height: 5.4rem;
    margin: 0 7.007rem 1.567rem 6.986rem;

    img {
        width: 2.4rem;
        height: 2.4rem;
    }*/ }

#pCopyright {
  font-family: 'Inter';
  /*font-size: 1.4rem;
    line-height: 1.7rem;
    margin: 1rem;*/ }
