$colorAzulTexto: #3534BE;


header {
    background-color: #FAFAFA;
    width: 100%;

}

#headerInicio {
    background-color: #E5EBF9;
    height: 72rem;
}

#menuNav {
    display: flex;
    justify-content: space-between;
    margin-top: 5.037rem;
}

.navDiv {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-right: 3.5rem;
}

#liServicios {
    margin-right: 26.591rem;
}

.nav-link {
    color: #242367;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
}

#navDropdown {
    li {
        a {
            color: #242367;
            font-size: 1.8rem;
            line-height: 2.1rem;
            font-weight: normal;
        }
    }
}

.navbar-toggler {
    border: none;
    position: absolute;
    left: 31.135rem;
    top: 2rem;

    .navbar-toggler-icon {
        width: 4rem;
        height: 4rem;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../assets/inicio/iconoir_menu.png);
}

.imgPrincipalInicio {          
    width: 78.537rem;
    height: 52.588rem;
    margin: 1.1rem 25.863rem 3.392rem 23.6rem;
}

.pPSD {
    color: $colorAzulTexto;
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: center;
    letter-spacing: 0.05em;

}

.pClickAqui {
    color: $colorAzulTexto;
    font-size: 2.3rem;
    line-height: 2.7rem;
    text-align: center;
    margin-bottom: 5.364rem;

    a {
        color: $colorAzulTexto;
    }
}