//BENEFICIOS

.h2Beneficios {
    margin-top: 13rem;
    margin-bottom: 2rem;
}

.contenedorBeneficios-Inicio {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint) {
      display: flex;
      justify-content: center;
    }

}

.detallesBeneficios-Inicio {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ulBeneficios {

}
.liBeneficios {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;

  @media (max-width: $breakpoint) {

  }
}

.iconBeneficios {
    width: 6rem;
    height: 6rem;
}

//hay un margin bottom de 1 rem que no se de donde sale
.pBeneficios {
    color: #4D4D4D;
    font-weight: 300;
    font-size: 1.8rem;
    margin: 0 0 0 2rem;
}

.imagenesBeneficios-Inicio {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $breakpoint) {
    display: none;
  }
}


//CONTACTO

.img14 {
    width: 64rem;
    height: 47.433rem;
}

.sectionContacto {
    display: flex;
    flex-direction: row;
}

.divsectionContacto {
    background: #FFFFFF;
    border: 2px solid #111111;
    width: 100%;
    height: 47.433rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h4sectionContacto {
    font-family: New York Extra Large;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #8BAAFC;
    margin-top: 7.208rem;
    margin-bottom: 5.42rem;
}

.psectionContacto {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #4D4D4D;
    margin-bottom: 3.889rem;
}

.iconsectionContacto {
    width: 6.22rem;
    height: 6.22rem;
    margin-top: 1.531rem;
    margin-bottom: 6.089rem;
}
