//BENEFICIOS

#h2Beneficios {
    margin-top: 13.195rem;
    margin-bottom: 2.05rem;
}

#ulBeneficios {
    margin-left: 7.155rem;
}

.liBeneficios {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconBeneficios {
    width: 5.933rem;
    height: 5.933rem;
}

.pBeneficios {
    color: #4D4D4D;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    margin-left: 3.386rem;
}

#img1-Index {
    width: 26.925rem;
    height: 40.383rem;
}

#img2-Index {
    width: 26.7rem;
    height: 26.7rem;
}

#divsectionBeneficios-Inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

//CONTACTO

.img14 {
    width: 64rem;
    height: 47.433rem;
}

.sectionContacto {
    display: flex;
    flex-direction: row;
}

.divsectionContacto {
    background: #FFFFFF;
    border: 2px solid #111111;
    width: 100%;
    height: 47.433rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h4sectionContacto {
    font-family: New York Extra Large;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #8BAAFC;
    margin-top: 7.208rem;
    margin-bottom: 5.42rem;
}

.psectionContacto {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #4D4D4D;
    margin-bottom: 3.889rem;
}

.iconsectionContacto {
    width: 6.22rem;
    height: 6.22rem;
    margin-top: 1.531rem;
    margin-bottom: 6.089rem;
}