//BENEFICIOS

.subtituloindex {
    color: #242367;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
}

#h2Beneficios {
    margin-top: 13.195rem;
    margin-bottom: 2.05rem;
}

#h3Beneficios {
    color: #8BAAFC;
    font-family: New York Extra Large;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

#ulBeneficios {
    margin-left: 7.155rem;
}

.liBeneficios {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconBeneficios {
    width: 5.933rem;
    height: 5.933rem;
}

.pBeneficios {
    color: #4D4D4D;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    margin-left: 3.386rem;
}

#img1-Index {
    width: 26.925rem;
    height: 40.383rem;
}

#img2-Index {
    width: 26.7rem;
    height: 26.7rem;
}