.sectionPrincipalPreguntasFrecuentes {
    background-image: linear-gradient(rgba(53, 52, 190, 0.35), rgba(53, 52, 190, 0.35)), url('../assets/Preg_frecuentes/preguntas introduccion.jpg');
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;  //arreglar visualización de la imagen
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 70rem;
    margin-bottom: 7.991rem;

    @media (max-width: $breakpoint) {
      background-position: top;

    }
}

.contenidoPreguntasFrecuentes {
  padding-bottom: 23rem;
  position: relative;
  overflow: hidden;

  @media (max-width: $breakpoint) {
    padding-bottom: 14rem;
  }
}

.h2sectionPreguntasPreguntasFrecuentes {
    margin-top: 2.05rem;
    margin-bottom: 14.252rem;

    @media (max-width: $breakpoint) {
      margin-bottom: 7rem;
    }
}

.contendorListaPreguntasFrecuentes {
  margin: 0 auto;
  max-width: 92rem;
  width: 90%;
}

// .button-sectionPreguntas-PreguntasFrecuentes {
//     font-size: 1.8rem;
//     line-height: 2.1rem;
//     color: #4D4D4D;
//     padding: 1.7rem 0rem;
//     padding-left: 1rem;
//     background-color: #E5E5E5;
//     border-bottom: 1px solid rgba(77, 77, 77, 0.2);
// }

.accordion-body {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #4D4D4D;
}
