.sectionPrincipal-Servicios {

    background-image: url(../assets/servicios/pexels-karolina-grabowska-4498610.png);
    background-color: transparent;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 128rem;
    height: 59.463rem;
    margin-bottom: 7.991rem;
}

.h2sectionPresentacion-Servicios {
    margin-top: 2.05rem;
    margin-bottom: 9.456rem;
}

.divIcons-sectionPresentacion-Servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 34.1rem;
}

.div-div-sectionPresentacion-Servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-sectionPresentacion-Servicios {
    width: 7.961rem;
    height: 7.961rem;
}

.pIcon-sectionPresentacion-Servicios {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #3534BE;
    margin-top: 1.844rem;
}

.divP-sectionPresentacion-Servicios {
    display: flex;
    flex-direction: row;
    margin: 7.356rem 18.81rem 14.866rem 18.81rem;

}

.p-sectionPresentacion-Servicios {
    margin-right: 9.9rem;
}

.h3-sectionGaleria-Servicios {
    margin-top: 2.05rem;
    margin-bottom: 11.977rem;
}

