.sectionPrincipal-Servicios {

    background-image: linear-gradient(rgba(53, 52, 190, 0.35), rgba(53, 52, 190, 0.35)), url(../assets/servicios/pexels-karolina-grabowska-4498610.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 70rem;
    margin-bottom: 7.991rem;
}


.sectionPresentacionServicios {
  padding-bottom: 15rem;
}

.h2sectionPresentacion-Servicios {
    margin-top: 2.05rem;
    margin-bottom: 9.456rem;
}

.contenedorContenidoPresentacionServicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 90rem;
  width: 80%;
  gap: 7rem;
}

.divIcons-sectionPresentacion-Servicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    @media (max-width: $breakpoint) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 5rem;
    }
}

.div-div-sectionPresentacion-Servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-sectionPresentacion-Servicios {
    width: 7.961rem;
    height: 7.961rem;
}

.pIcon-sectionPresentacion-Servicios {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #3534BE;
    margin-top: 1.844rem;
}

.divP-sectionPresentacion-Servicios {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    @media (max-width: $breakpoint) {
      display: flex;
      flex-direction: column-reverse;
      gap: 2.5rem;
    }
}

.p-sectionPresentacion-Servicios {
  padding-right: 8rem;

  @media (max-width: $breakpoint) {
    padding-right: 0rem;
  }
}

.h3-sectionGaleria-Servicios {
    margin-top: 2.05rem;
    margin-bottom: 11.977rem;
}
