
#sectionPrincipal-SobreMi {
    background-image: linear-gradient(rgba(53, 52, 190, 0.35), rgba(53, 52, 190, 0.35)), url(../assets/Sobre_mi/Imagen_sobre_mi_principal.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 70rem;
    margin-bottom: 7.991rem;

}

.h1sectionPrincipal {
    font-size: 5rem;
    line-height: 5.9rem;
    text-align: center;
    color: #FAFAFA;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

#h1sectionPrincipal-SobreMi {
    margin-bottom: 5.408rem;
}

#h2sectionPresentacion-SobreMi {
    margin-top: 2.1rem;
    margin-bottom: 7.991rem;
}

#divsectionPresentacion-SobreMi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#psectionPresentacion-SobreMi {
    position: static;
    width: 38.655rem;
    height: 29.4rem;
    left: 54.046rem;
    margin: 0rem 6.5rem;
}

#h2sectionTrayectoria-SobreMi {
    margin-top: 17.606rem;
    margin-bottom: 2.05rem;
}