
#sectionPrincipal-SobreMi {

    background-image: url(../assets/Sobre_mi/Imagen_sobre_mi_principal.png);
    background-color: transparent;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 25.031rem 27.704rem 10.923rem 27.704rem;
}

#h1sectionPrincipal-SobreMi {

    font-size: 5rem;
    line-height: 5.9rem;
    text-align: center;
    color: #FAFAFA;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 5.408rem;
}

#h2sectionPresentacion-SobreMi {
    margin-top: 2.1rem;
    margin-bottom: 7.991rem;
}

#divsectionPresentacion-SobreMi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#psectionPresentacion-SobreMi {
    position: static;
    width: 38.655rem;
    height: 29.4rem;
    left: 54.046rem;
    margin: 0rem 6.5rem;
}

#h2sectionTrayectoria-SobreMi {
    margin-top: 17.606rem;
    margin-bottom: 2.05rem;
}