
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

@import "header";
@import "index";
@import "footer";

@import "mediaQ_header";
@import "mediaQ_footer";
