
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto';
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h2 {
    color: #242367;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
}

h3 {
    color: #8BAAFC;
    font-family: New York Extra Large;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

.buttonUneteALaClase {
    background-color: transparent;
    color: #FAFAFA;
    border: 4px solid #FAFAFA;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
    width: 20.4rem;
    height: 6.3rem;
    font-size: 2rem;
    line-height: 2.3rem;
}

.espiralCentrado {
    display: block;
    margin: auto;
}

.p-style {
    color: #4D4D4D;
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 300;
}

.span-style {
    font-weight: 500;
    color: #3534BE;
}

.divFinSections {
    height: 16.805rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divElementoGraficoEsquina {
    position: relative;
}

.div-divElementoGraficoEsquina {
    height: 30rem;
    width: 34.478rem;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
}

.div-divElementoGraficoEsquina-derecha {
    right: 0px;
}

.div-divElementoGraficoEsquina-izquierda {
    left: 0px;
}

.elementoGraficoEsquina {
    position: absolute;
    width: 46.853rem;
    height: 51.902rem;
    transform: rotate(128.39deg);
}

.elementoGrafico-arribaDerecha {
    bottom: 0px;
}

.elementoGrafico-abajoIzquierda {
    right: 0px;
}

@import "header";
@import "index";
@import "sobreMi";
@import "servicios";
@import "blog";
@import "articulos";
@import "preguntasFrecuentes";
@import "footer";

@import "mediaQ_header";
@import "mediaQ_footer";
