
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto';
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@import "header";
@import "index";
@import "footer";

@import "mediaQ_header";
@import "mediaQ_footer";
