* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto';
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h2 {
    color: #242367;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
}

h3 {
    color: #8BAAFC;
    font-family: New York Extra Large;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

h4 {
    color: #3534BE;
    font-family: roboto;
    font-size: 2rem;
    font-weight: 400;
}





img {
  max-width: 100%;
}

.textoPrincipalPages {
    font-size: 5rem;
    line-height: 5.9rem;
    text-align: center;
    color: #FAFAFA;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 5.408rem;
}

.botonUneteALaClase {
    background-color: transparent;
    color: #FAFAFA;
    border: 4px solid #FAFAFA;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
    width: 20.4rem;
    height: 6.3rem;
    font-size: 2rem;
    line-height: 2.3rem;
}

.espiralCentrado {
    display: block;
    margin: auto;
}

.p-style {
    color: #4D4D4D;
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 300;
}

.span-style {
    font-weight: 500;
    color: #3534BE;
}

.divFinSections {
    height: 16.805rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonAzul {
  border: none;
  color: #3534BE;
  font-size: 2rem;
  background-color: transparent;
}

.acordionFondoTransparente {
  background-color: transparent!important;
}

.acordionParrafo {
  margin-bottom: 0;
  font-size: 1.8rem;
}

@import "header";
@import "index";
@import "sobreMi";
@import "servicios";
@import "blog";
@import "articulos";
@import "preguntasFrecuentes";
@import "footer";

@import "mediaQ_header";
@import "mediaQ_footer";
